:root{
  --color-primary:#6c63ff;
  --color-success:#00bf8e;
  --color-warning:#f7c94b;
  --color-danger:#f75842;
  --color-danger-variant:rgba(247,88,66,0.4);
  --color-white:#fff;
  --color-light:rgba(255,255,255,0.7);
  --color-black:#000;
  --color-bg:#1f2641;
  --color-bg1:#2e3267;
  --color-bg2:#424890;

  --container-width-lg:79%;
  --container-width-md:90%;
  --container-width-sm:90%;

  --transition: all 400ms ease;
}

body{
  font-family: "Montserrat",sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-bg);
}

/* Fixed sidenav, full height */
.sidenav {
height: 100%;
width: 200px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background: var(--color-bg2);
overflow-x: hidden;
padding-top: 80px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 20px;
color: white;
display: block;
border: none;
background: none;
width: 100%;
text-align: left;
cursor: pointer;
outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
color: var(--color-primary);
}

/* Main content */
.main {
margin-top: 100px;
margin-left: 200px; /* Same as the width of the sidenav */
font-size: 20px; /* Increased text to enable scrolling */
padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
background-color: red;
color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
display: none;
background-color: #262626;
padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
float: right;
padding-right: 8px;
}


/*.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  or any other height you prefer 
  width: 100%;
}

.video-container iframe {
  max-width: 120%;
  height: 70%;
}
*/
.video-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 3rem;

}


/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}